:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-yellow-dark-1: #dcbe11;
  --color-blue-dark-1: #11b3dc;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  rotate: -7deg;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.section-about {
  background-color: #ede9e9;
  padding: 25rem 0;
  margin-top: -26vh;
  font-size: 2rem; }

.section-features {
  margin-top: 10rem;
  padding: 20rem 0;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: cover; }

.section-stories {
  margin-top: 4rem;
  position: absolute;
  padding: 15rem 0; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }

::after {
  content: " ";
  display: table;
  clear: both; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

.col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
  animation: color 12s ease-in-out infinite; }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 3rem; }
  .header__logo {
    height: 5.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

@keyframes color {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 5px;
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  height: 3rem;
  background-color: #ee7752;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 0.1rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 0.5rem solid #ee7752;
      transform: scale(1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 10; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #23a6d5, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    position: relative;
    display: flex; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    transform: skewY(-7deg); }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 7rem; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  padding: 2rem 3rem;
  font-weight: 400;
  letter-spacing: 2.5rem;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.5rem 1rem;
  letter-spacing: 1rem;
  -webkit-animation: moveInRight 1s ease-out;
  animation: moveInRight 1s ease-out; }

body {
  font-family: "Lato", sans-sarif;
  font-weight: 400;
  color: #777;
  box-sizing: border-box;
  padding: 3rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #e73c7e, #ee76ba);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all0 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.9rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.swiper {
  width: 100%;
  height: 40%; }

.swiper-slide {
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center; }

.swiper-slide img {
  display: flex;
  width: 15rem;
  height: 15rem;
  right: -10rem;
  object-fit: cover;
  padding-bottom: 2rem; }

.hed1 {
  margin-top: 4rem; }

.section-testi {
  margin-top: 8rem;
  padding: 10rem 0;
  background: linear-gradient(45deg, #23a6d5, #e73c7e, #23d5ab, #ee7752);
  background-size: cover;
  transform: skewX(-7deg); }

.testo {
  background-color: rgba(255, 255, 255, 0.9);
  height: 35rem;
  width: 43rem;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden; }
  .testo__icon {
    left: 10.7rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background-image: linear-gradient(to right, #23a6d5, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .testo__name {
    font-family: "Roboto", sans-serif;
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    bottom: -2rem; }
  .testo__text {
    font-size: 1.7rem;
    float: left;
    padding: 0rem 0rem 0rem 1rem;
    display: flex;
    text-align: center;
    overflow: hidden; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#23a6d5, #ee76ba);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.features {
  margin-top: 12rem;
  background-color: #ede9e9;
  display: grid;
  grid-template-rows: repeat(2, 14rem);
  column-gap: 2rem;
  row-gap: 7rem;
  grid-template-columns: repeat(3, 1fr);
  background-size: cover; }

.heading-4 {
  color: #333;
  padding-top: 0.7rem;
  font-size: 1.9rem;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 400; }

.feature {
  padding: 0 4rem; }
  .feature__icon {
    margin-top: 2rem;
    position: relative;
    height: 4.5rem;
    width: 4.5rem;
    padding-bottom: 0.2rem;
    right: -7rem; }
  .feature__text {
    color: #000;
    font-family: "Josafin sans", "sans-serif";
    float: left;
    font-size: 2rem;
    padding-top: 1rem; }

.footer {
  height: 20rem;
  margin-top: 2rem;
  background-color: #333;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #ede9e9;
  position: absolutex; }
  .footer__logo-box {
    display: block;
    position: relative;
    text-align: center; }
  .footer__logo {
    height: 1.5rem; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none;
    font-size: 1.9rem; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #ede9e9;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    font-size: 1.7rem;
    border-top: 1px solid #777;
    padding-top: 1rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-blue-dark-1); }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center; }
  .overview__icon-location {
    margin-right: 0.5rem; }
  .overview__rating {
    background-color: var(--color-blue-dark-1);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
  .overview__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover; }
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      .list__item::before {
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none; } }

.lists {
  list-style: decimal;
  position: relative;
  left: 10rem;
  margin-bottom: 4rem; }
  .lists__items {
    padding: 0 2rem; }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex; }
  .recommend__count {
    margin-right: auto; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  .review__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .review__rating {
    color: var(--color-blue-dark-1);
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1; }

.cta {
  padding: 3.5rem 0;
  text-align: center;
  float: center; }
  .cta__book-now {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.btn1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn1 > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s; }
  .btn1__visible {
    padding: 2rem 7.5rem; }
  .btn1__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%; }
  .btn1:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn1:hover .btn1__visible {
    transform: translateY(100%); }
  .btn1:hover .btn1__invisible {
    top: 0; }
  .btn1:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.btn1-inline {
  border: none;
  color: var(--color-blue-dark-1);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; }
  .btn1-inline span {
    margin-left: 3px;
    transition: margin-left 0.2s; }
  .btn1-inline:hover {
    color: var(--color-grey-dark-1); }
    .btn1-inline:hover span {
      margin-left: 8px; }
  .btn1-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.btn2-inline {
  position: relative;
  left: 30rem;
  border: none;
  color: var(--color-blue-dark-1);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; }

.container {
  max-width: 130rem;
  margin: 8rem auto;
  background-color: 1px solid var(--color-grey-dark-2);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50; }

.content {
  display: flex; }

.hotel-view {
  background-color: #fff;
  height: 90rem;
  flex: 1; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 2.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 2rem;
  flex: 0 0 70%;
  margin-right: 2.5rem; }
  .descriptionimg_im {
    height: 800px;
    width: 600px;
    position: relative;
    background-color: #ede9e9; }

.user-reviews {
  flex: 1;
  margin-right: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.Article {
  margin-bottom: 2rem; }
  .Article__heading {
    font-size: 3rem;
    position: relative;
    left: 5.2rem; }
  .Article__paragraphs {
    font-size: 1.6rem;
    line-height: 1.7rem;
    padding: 2rem 3rem 2rem 4rem;
    display: inline-block;
    overflow: hidden; }
  .Article__img_im {
    display: inline-block;
    padding-left: 1.4rem;
    margin: 1.7rem; }
